.spinner {
  width: 100px; /* Đặt chiều rộng của Spinner */
  height: 100px; /* Đặt chiều cao của Spinner */
  margin: auto; /* Để đảm bảo nằm giữa khung hình */
  display: block; /* Hiển thị làm khối */
}
